div.volver {
    text-align: center;
    /*padding: 15px;*/
    /*margin: 5px;*/
}

div.volver span {
    border: 2px dotted blue;
    padding: 5px;
}

div.descargar {
    /*border: 2px dotted blue;*/
    padding: 10px;
    text-align: right;
}

table, th, td {
    border: 1px solid black;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
    padding: 5px;
}

.reporte {
    border: 2px solid black;
    margin: 5px;
}