.campo-seleccionar {
    font-style: italic;
}

.reiniciar {
    text-align: right;
}


.reiniciar input {
    color: black;
    background-color: #DDAA22;
    border-radius: 20px;
    margin: 10px 10px;
}

.enviar {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.enviar input {
    color: black;
    background-color: #22CC22;
    border: 3px solid orange;
    border-radius: 20px;
    font-size: 20px;
    padding: 5px 15px;
    margin-top: -15px;
}

input[type=submit]:hover, input[type=reset]:hover {
    opacity: 0.8;
}

input[type=submit]:active {
    background-color: #22BB22;
}

.cancelar {
    text-align: center;
    padding: 10px;
}

.cancelar span {
    border: 2px dotted blue;
    padding: 10px;
}

.tramos-nuevos fieldset {
    color: green;
}