
.enviar input {
    margin-top: -15px;
}

#tramo-nuevo fieldset {
    color: green;
}

.form-compartido {
}

#trayecto-compartido-ack {
}

.ubicaciones fieldset {
    padding: 10px;
}

.ubicaciones input {
    padding: 5px;
    margin: 0px 5px;
    width: 20em;
}

div.tramo > fieldset {
    padding: 20px;
}