table.general, .general table, .general td, .general th {
    text-align: center;
    border-collapse: collapse;
    margin: auto;
    padding: 12px;
}

.general td, .general th  {
    border: 1px solid black;
}

.general > tbody > tr > td:last-child {
    border-width: 0px 0px 0px 1px;
}

.generar {
    text-align: center;
    padding: 10px;
}

td.ausente {
    border-width: 1px !important;
}
