<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Trayectos</title>
    
    <style>
	  
	 table.general, .general table, .general td, .general th {
		  text-align: center;
		  border-collapse: collapse;
		  margin: auto;
		  padding: 12px;
	  }
	  
	  .general td, .general th  {
		  border: 1px solid black;
	  }
	  
	  .general > tbody > tr > td:last-child {
		  border-width: 0px 0px 0px 1px;
	  }
	  
    </style>
    
  </head>
  <body>
  	<header>
      <div id="header">
        <div class="user">
          <span>Usuario: </span>
          <i>Nombre Apellido</i>
        </div>
        <div class="logout">
          <form action="/logout" method="post">
            <input type="submit" value="Desconectar">
          </form>
        </div>
        <div class="titulo">
          <h1>TRAYECTOS</h1>
        </div>
      </div>
    </header>
    <div class="content">
      <div class="volver">
        <span><a href="/menu">VOLVER AL MENU PRINCIPAL</a></span>
      </div>
      <div class="trayectos">
        <table class="general">
          <thead>
            <tr>
              <th>ID</th>
              <th>FECHA</th>
              <th>MIEMBROS</th>
              <th>TRANSPORTE</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><i>1</i></td>
              <td><i>10/2020</i></td>
              <td>
                <table>
                  <tr><td><i>Leo Messi</i></td></tr>
                  <tr><td><i>Leo Paredes</i></td></tr>
                  <tr><td><i>Ángel Di maría</i></td></tr>
                </table>
              </td>
              <td>
                <table>
                  <tr><td><i>Tren Sarmiento</i></td></tr>
                  <tr><td><i>Colectivo 47</i></td></tr>
                </table>
              </td>
              <!--<td><a href="/miembro/#miembro/trayecto/#tray">VER</a></td>-->
              <td><a href="/miembro/#miembro/trayecto?id=#tray">VER</a></td>
            </tr>
            <tr>
              <td><i>2</i></td>
              <td><i>11/2022</i></td>
              <td>
                <table>
                  <tr><td><i>Leo Messi</i></td></tr>
                </table>
              </td>
              <td>
                <table>
                  <tr><td><i>Auto Eléctrico</i></td></tr>
                  <tr><td><i>Caminata</i></td></tr>
                </table>
              </td>
              <td><a href="/miembro/#miembro/trayecto/#tray">VER</a></td>
            </tr>
            <tr>
              <td><i>3</i></td>
              <td><i>19/2022</i></td>
              <td>
                <table>
                  <tr><td><i>Leo Messi</i></td></tr>
                </table>
              </td>
              <td>
                <table>
                  <tr><td><i>Colectivo 132</i></td></tr>
                  <tr><td><i>Caminata</i></td></tr>
                </table>
              </td>
              <td><a href="/miembro/#miembro/trayecto/#tray">VER</a></td>
            </tr>
            <tr>
              <td class="ausente" colspan="4">SIN TRAYECTOS</td>
        	</tr>
          </tbody>
        </table>
      </div>
      <div class="generar">
        <span><a href="/miembro/#id/trayecto?action=create">Generar Trayecto</a></span>
      </div>
    </div>
  </body>
</html>