<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Documento sin título</title>
<style>
/*table.asd, .asd th, .asd td, .asd table {*/
.asd * {
  border: 1px solid black;
}
</style>
</head>
<body>

<h1>The table element</h1>

<table class="asd">
  <tr>
    <th>Month</th>
    <th>Savings</th>
  </tr>
  <tr>
  	<td><table>
    	<tr>
        	<td>January</td>
            <td>asd</td>
            <td>bbbb</td>
        </tr>
    </table></td>
    <td>$100</td>
  </tr>
  <tr>
    <td>February</td>
    <td>$80</td>
  </tr>
</table>

<br><br>

<table border="5px" bordercolor = "red">
	<tr>
		<td >
			<table border="10px">
				<tr> <th colspan="2"> Nested Table 1 </th> </tr>
				<tr> <th> Column 1 </th> <th> Column 2 </th> </tr>
				<tr> 
                	<td> Our First Table </td>
					<td> Nested Within </td> 
               	</tr>
			</table>
		</td>
		<td>
			<table border="10px">
				<tr> <th> Nested Table 2 </th> </tr>
                <tr> 
                	<td>
                    	<table> 
                    		<tr> <th> Column 1 </th> <th> Column 2 </th> </tr>
                        	<tr> <td> Our First Table </td> <td> Nested Within </td> </tr>
                    	</table>
                    </td>
                </tr>
			</table> 
      	</td>
	</tr>
</table>

</body>
</html>
